/* Fonts */
@font-face {
  font-family: "PTSans";
  src: url("/fonts/ptsans.woff2") format("woff2"),
    url("/fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  src: url("/fonts/ptsansbold.woff2") format("woff2"),
    url("/fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprum.woff2") format("woff2"),
    url("/fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprumbold.woff2") format("woff2"),
    url("/fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprumitalic.woff2") format("woff2"),
    url("/fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprumbolditalic.woff2") format("woff2"),
    url("/fonts/cuprumbolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* Basic style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  font-family: "PTSans", sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.section-title {
  margin: 0 0 25px;

  font-family: "Cuprum", sans-serif;
  font-size: 30px;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -0.9px;
}

.section-desc {
  font-size: 13px;
  line-height: 1.85;
  color: #000000;
}

.icon::before {
  content: "";

  display: inline-block;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
}

.icon-bookmark::before {
  width: 14px;
  height: 16px;
  margin-right: 13px;

  background-image: url(../img/icon-bookmark.svg);
}

.icon-basket::before {
  width: 15px;
  height: 15px;
  margin-right: 17px;

  background-image: url(../img/icon-basket.svg);
}

.icon-phone::before {
  width: 19px;
  height: 19px;
  margin-right: 43px;

  background-image: url(../img/icon-phone.svg);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 14px;
  line-height: 1.29;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.button-section {
  width: 253px;
  background-color: #ee3643;
}

.button-section:hover {
  background-color: #ca2c37;
}

.button-section:active,
.button-section:focus {
  background-color: #ba2732;
}

.button-tizer,
.button-send {
  width: 195px;
}

.button-tizer {
  position: absolute;
  left: 25px;
  bottom: 22px;
}

.button-about,
.button-write {
  margin-top: auto;
}

.button-about {
  width: 220px;
}

.button-write {
  width: 100%;
}

.button-buy,
.button-bookmark {
  width: 135px;
  height: 38px;
}

.button-buy {
  position: relative;

  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
}

.button-buy::before {
  position: absolute;
  top: 11px;
  left: 12px;

  width: 15px;
  height: 15px;

  background-image: url(../img/icon-basket.svg);
  opacity: 0.3;

  content: "";
}

.button-buy:hover {
  background-color: #5fbb2d;
}

.button-buy:hover::before,
.button-buy:active::before,
.button-buy:focus::before {
  opacity: 1;
}

.button-buy:active,
.button-buy:focus {
  background-color: #518534;
  box-shadow: inset 0px -3px 0 0 #518534;
  outline: none;
}

.button-bookmark {
  margin-top: 7px;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #32425c;

  border: solid 3px #63a63e;
}

.button-bookmark:hover {
  color: #32425c;

  border-color: #32425c;
}

.button-bookmark:active,
.button-bookmark:focus {
  color: #32425c;

  border-color: #32425c;
  opacity: 0.3;
  outline: none;
}

.sticky-new::before {
  content: "new";
  position: absolute;
  top: 5px;
  right: -25px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 28px;

  color: #ffffff;
  text-align: center;

  transform: rotate(45deg);
  background-color: #ff5357;
}

/* Grid */
.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}


/* Header */
.header-wrapper {
  padding-bottom: 60px;

  font-family: "Cuprum", sans-serif;

  background-color: #f4f7f9;
}

.header-menu-wrapper {
  background-color: #293449;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;

  font-size: 17px;
  line-height: 1.06;

  list-style: none;
}

.header-menu li {
  display: inline-flex;
  min-height: 42px;
}

.logo {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 220px;

  background-color: #ee3643;
}

.logo::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -5px;

  width: 100%;
  height: 5px;

  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo[href]:hover {
  background-color: #ca2c37;
}

.logo[href]:active {
  background-color: #ba2732;
}

.header-logo {
  height: 100%;
}

.header-search-form {
  position: relative;
}

.search-field {
  width: 270px;
  height: 100%;
  padding-left: 49px;

  color: #ffffff;

  background-color: #293449;
  border: 0;
}

.search-field::placeholder {
  color: #ffffff;
}

.search-field:hover {
  background-color: #212a3a;
}

.search-field:hover+.icon-search,
.search-field:focus+.icon-search {
  opacity: 1;
}

.search-field:focus {
  color: #000000;

  background-color: #ffffff;
  outline: none;
}

.search-field:focus+.icon-search path {
  fill: #ee3643;
}

.header-search-form .icon-search {
  position: absolute;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 49px;
  height: 42px;

  opacity: 0.3;
}

.header-menu-link,
.checkout {
  display: inline-flex;
  align-items: center;
  width: 150px;

  color: #ffffff;
}

.header-menu-link {
  padding-left: 17px;
}

.header-menu-link:hover {
  background-color: #212a3a;
}

.header-menu-link:hover.icon::before {
  opacity: 1;
}

.header-menu-link .icon::before {
  opacity: 0.3;
}

.header-menu-link:active {
  background-color: #161d29;
  opacity: 0.6;
}

.header-menu-link span {
  padding-left: 5px;
}

.checkout {
  justify-content: center;

  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  opacity: 0.5;
}

.header-info {
  display: flex;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 40px;
  padding-left: 53px;
}


.slogan {
  align-self: flex-end;
  max-width: 200px;

  font-size: 16px;
  font-style: italic;
  line-height: 1.44;
  color: #ee3643;
}

.header-contacts {
  width: 270px;
}

.header-phone {
  display: flex;
  align-items: center;
  padding: 9px 15px;

  font-size: 21px;
  color: #ee3643;

  border: solid 3px #ffffff;
}

.header-address {
  margin-top: 4px;
  padding-left: 17px;

  font-size: 14px;
  line-height: 1.71;
  color: #32425c;
}

.header-info-link-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.header-info-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px;

  font-size: 21px;
  color: #000000;

  background-color: #ffffff;
}

.header-info-link:not(:first-child) {
  margin-left: 22px;
}

.header-info-link:hover {
  color: #ee3643;
}

.header-info-link:active {
  color: #c5c5c5;
}

.header-info-link:hover svg {
  fill: #32425c;
}

.header-info-link svg {
  margin-right: 14px;
}

.link-auth {
  width: 121px;

  padding-left: 28px;
}

.link-registration {
  width: 150px;
}

.header-navigation .navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 26px;
  margin: 0;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
  list-style: none;
}

.header-navigation .navigation-item {
  flex-grow: 1;
}

.header-navigation .navigation-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  padding: 0 30px;

  font-size: 17px;
  line-height: 1.1;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.header-navigation .navigation-item-link:hover {
  background-color: #293449;
}

.header-navigation .navigation-item-link:active {
  background-color: #1d2739;
  box-shadow: none;
}

/* Main */
.main-wrapper {
  padding-top: 59px;
}

.tizers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 33px;

  font-family: "Cuprum", sans-serif;
}

.tizers-item {
  position: relative;

  max-width: 300px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
  margin-bottom: 20px;
  padding: 20px 23px 21px;

  overflow: hidden;
  background-repeat: no-repeat;
}

.tizer-materials {
  background-color: #ffbf47;
  background-image: url(../img/icon-material.svg);
  background-position: top 31px right 43px;
  background-size: 44px 65px;
}

.tizer-tools {
  background-color: #3bbce3;
  background-image: url(../img/icon-tools.svg);
  background-position: top 33px right 28px;
  background-size: 75px 61px;
}

.tizer-technics {
  background-color: #dc91d8;
  background-image: url(../img/icon-technics.svg);
  background-position: top 31px right 31px;
  background-size: 78px 62px;
}

.tizer-discount {
  background-color: #8ed78f;
  background-image: url(../img/icon-discount.svg);
  background-position: top 26px right 45px;
  background-size: 59px 72px;
}

.tizer-delivery {
  background-color: #ffc047;
  background-image: url(../img/icon-delivery.svg);
  background-position: top 32px right 31px;
  background-size: 78px 63px;
}

.tizer-title {
  margin-top: 0;
  margin-bottom: 14px;

  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: #ffffff;
}

.tizer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 135px;
  min-height: 38px;
  margin-left: 2px;

  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  text-transform: uppercase;

  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1)
}

.tizer-link:hover {
  background-color: rgba(0, 0, 0, 0.2)
}

.tizer-link:active {
  background-color: rgba(0, 0, 0, 0.3)
}

.tizers-slider-wrapper {
  position: relative;

  max-width: 620px;
  margin-bottom: 20px;
}

.tizers-slide {
  position: relative;
}

.tizers-slide-content {
  position: absolute;
  top: 0;
  left: 0;

  padding: 27px 24px;

  font-family: "Cuprum", sans-serif;
  color: #ffffff;
}

.tizers-slide-title {
  margin: 0;

  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
}

.tizers-slide-desc {
  font-size: 18px;
  line-height: 1.33;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 22px;
  height: 40px;

  font-size: 0;
  color: #ffffff;
  border: none;
  background: none;

  cursor: pointer;
  z-index: 1;
}

.slider-arrow:hover svg {
  fill: #ee3643;
}

.slider-arrow:focus {
  outline: none;
}

.slider-arrow:focus svg {
  fill: #ca2c37;
}

.slider-arrow[disabled] {
  cursor: default;
  opacity: 0.4;
}

.arrow-prev {
  left: 25px;
}

.arrow-next {
  right: 20px;
  transform: translateY(-50%) rotate(180deg);
}

.slider-pagination {
  position: absolute;
  left: 50%;
  bottom: 36px;

  display: inline-flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-pagination li {
  margin: 0 5px;
}

.slider-dot {
  width: 10px;
  height: 10px;
  padding: 0;

  font-size: 0;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #ee3643;
}

.dot-active {
  background-color: #ffffff;
}

.tizers-block {
  max-width: 300px;
  flex-grow: 1;
}

.popular-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-right: 24px;
  padding-bottom: 26px;
  padding-left: 30px;

  background-color: #f9f5f0;
}

.popular-title {
  margin: 0;

  font-size: 30px;
  line-height: 1;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  color: #32425c;
  letter-spacing: -0.9px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  margin: 21px 0 0;
  padding: 0;

  list-style: none;
}

.products-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 220px;
  padding-bottom: 21px;
  margin-bottom: 21px;

  border: solid 1px #eaeaea;
  background-color: #ffffff;

  overflow: hidden;
}

.products-item:not(:nth-child(4n)) {
  margin-right: 20px;
}

.products-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.products-item:hover .product-action {
  opacity: 1;
  visibility: visible;
}

.products-item img {
  max-height: 170px;
}

.product-action {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 170px;
  height: 100%;

  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
}

.item-title {
  width: 100%;
  margin: 8px 0 14px;
  padding: 0 30px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #000000;
}

.item-title a {
  color: #000000;
}

.price-old {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 9px;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.06;
  color: #a9a9a9;

  text-decoration: line-through;
  text-align: center;
}

.price-current {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 141px;
  height: 38px;
  margin-top: auto;

  font-size: 17px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;

  border-radius: 4px;
  background-color: #ee3643;
}

.price-current::after {
  position: absolute;
  top: 0;
  right: 0;

  width: 20px;

  border: 19px solid #ffffff;
  border-left-color: #ee3643;
  border-right: 0;

  content: "";
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 17px 0 65px;

  list-style: none;
}

.manufacturers-item {
  max-width: 220px;
  width: 100%;
  min-height: 145px;
  margin-bottom: 20px;
}

.manufacturers-item:not(:nth-child(4n)) {
  margin-right: 20px;
}

.manufacturers-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  border: solid 1px #eaeaea;
  background-color: #ffffff;
}

.manufacturers-item-link:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-item-link:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}


.services-wrapper {
  padding-top: 68px;
  margin-bottom: 80px;

  background-color: #f4f7f9;
}

.services-slider {
  display: flex;
  min-height: 325px;
  margin-top: 28px;
}

.services-slider-control {
  position: relative;

  display: flex;
  flex-direction: column;
  max-width: 240px;
  flex: 0 0 240px;
  padding-top: 40px;
}

.services-slider-control::after {
  position: absolute;
  top: 0;
  right: 0;

  width: 10px;
  height: 100%;

  background-image: url(../img/shadow.png);
  background-repeat: no-repeat;

  content: "";
}

.services-slider-control input[type="radio"]:checked+.slide-control-button {
  color: #32425c;

  box-shadow: 01px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
  background-color: #ffffff;
  cursor: default;
}

.slide-control-button {
  display: flex;
  align-items: center;
  width: 240px;
  height: 61px;
  padding: 0 23px;
  margin-top: 1px;

  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.43;
  color: #ffffff;

  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
  background-color: #32425c;
  cursor: pointer;
}

.slide-control-button:hover {
  /* box-shadow: 0 0.5px 0 0 #293449, inset 0 0.5px 0 0 #405069; */
  background-color: #293449;
}

.services-slide {
  display: none;
  padding: 39px 80px;
  flex-grow: 1;
}

.services-slide.slide-delivery {
  display: block;

  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.services-slide.slide-warranty {
  /* display: block; */
  background-image: url(../img/warranty.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.services-slide.slide-credit {
  /* display: block; */
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.services-slide-title {
  margin: 0 0 25px;

  font-family: "Cuprum", sans-serif;
  font-size: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services-slide-desc {
  max-width: 376px;

  font-size: 13px;
  line-height: 1.85;
  color: #000000;
}

.services-slide-desc+.button {
  margin-bottom: 31px;
}

.section-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.section-about,
.section-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-about {
  max-width: 519px;
  flex: 0 0 519px;
}

.about-desc {
  margin: 24px 0;
}

.about-desc .section-desc {
  max-width: 386px;
}

.transport-list {
  padding: 0;
  margin: 20px 0 0;

  list-style: none;
}

.transport-item {
  margin-bottom: 21px;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
  line-height: 1.11;
  color: #000000;
}

.transport-item:last-child {
  margin-bottom: 0;
}

.transport-item::before {
  display: inline-block;
  width: 25px;
  height: 2px;
  margin-right: 11px;
  vertical-align: middle;

  background-color: #ee3643;
  content: "";
}

.section-contacts {
  max-width: 300px;
  flex: 0 0 300px;
}

.contacts-desc {
  max-width: 179px;
}

.map-link {
  display: block;
  margin: 31px 0 41px;
}

/* Footer */
.footer-wrapper {
  font-family: "Cuprum", sans-serif;

  background-color: #32425c;
}

.footer-menu {
  padding-bottom: 53px;
}

.footer-logo {
  min-height: 62px;
}

.footer-navigation,
.footer-subnavigation {
  display: flex;
  align-items: flex-end;

  font-size: 18px;
  line-height: 1.33;
}

.footer-navigation .navigation-list,
.footer-subnavigation .navigation-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;

  list-style: none;
}

.footer-navigation .navigation-item,
.footer-subnavigation .navigation-item {
  margin: 0 30px;
}

.footer-navigation .navigation-item:first-child,
.footer-subnavigation .navigation-item:first-child {
  margin-left: 0;
}

.footer-navigation .navigation-item:last-child,
.footer-subnavigation .navigation-item:last-child {
  margin-right: 0;
}

.footer-navigation .navigation-item-link {
  color: #f1f5f7;
  /* border-bottom: 1px solid transparent; */
}

.footer-navigation .navigation-item-link:hover {
  /* border-bottom-color: #ffffff; */
  text-decoration: underline;
}

.footer-navigation .navigation-item-link:active {
  color: rgba(241, 245, 247, 0.5);

  text-decoration: none;
}

.footer-subnavigation .navigation-item-link {
  color: #ffd180;
  /* border-bottom: 1px solid transparent; */
}

.footer-subnavigation .navigation-item-link:hover {
  /* border-bottom-color: #ffd180; */
  text-decoration: underline;
}

.footer-subnavigation .navigation-item-link:active {
  color: rgba(255, 209, 128, 0.5);

  text-decoration: none;
}

.footer-subnavigation {
  margin-top: 32px;
  align-items: flex-start;
}


.footer-contacts,
.footer-contacts a {
  color: #f1f5f7;
}

.footer-contacts {
  margin-left: 5px;
}


.footer-info-wrapper {
  padding: 35px 0 30px;

  background-color: #293449;
}

.footer-info {
  display: flex;

  font-family: "Cuprum", sans-serif;
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
}

.footer-info-contacts {
  display: flex;
  margin-left: auto;
}

.copyright {
  margin-left: 3px;
}

.social-wrapper {
  display: flex;
  margin-right: 66px;
}

.social {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 3px;

  font-size: 0;
  border-radius: 50%;

  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social:last-child {
  margin-right: 0;
}

.social:hover,
.social:active {
  background-color: #ee3643;
}

.social-vk {
  background-image: url(../img/icon-vk.svg);
}

.social-fb {
  background-image: url(../img/icon-fb.svg);
}

.social-inst {
  background-image: url(../img/icon-inst.svg);
}

.footer-info-contacts p {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 53px;

  letter-spacing: 0.3px;
}

.footer-info-contacts a {
  color: #ffd180;
}

.footer-info-contacts a:hover {
  text-decoration: underline;
}

.footer-info-contacts a:active {
  color: #ee3643;

  text-decoration: none;
}


/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* display: none; */
  background-color: #ffffff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  background-image: url(../img/icon-close.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 0.5;
}

.modal-map {
  max-width: 940px;
  display: none;
}

.modal-feedback {
  max-width: 620px;

  border-top: 7px solid #ff5257;
}

.modal-basket {
  display: none;
}

.form-feedback {
  padding: 55px 80px 37px;
}

.form-row {
  display: flex;
}

.form-label {
  display: block;
  margin-bottom: 13px;

  font-size: 18px;
  line-height: 1;
  font-family: " Cuprum", sans-serif;
  color: #000000;
}

.form-field,
.form-textarea {
  padding: 0 16px;

  border-radius: 4px;
  border: solid 2px #dee3e4;
  background-color: #ffffff;
}

.form-field {
  width: 220px;
  height: 38px;
}

.form-textarea {
  width: 460px;
  height: 114px;
  padding-top: 13px;

  resize: none;
}

.buttons-wrapper {
  padding: 37px 80px;

  background-color: #f4f4f4;
}
