/* Fonts */
@font-face {
  font-family: "PTSans";
  src: url("/fonts/ptsans.woff2") format("woff2"),
    url("/fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  src: url("/fonts/ptsansbold.woff2") format("woff2"),
    url("/fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprum.woff2") format("woff2"),
    url("/fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprumbold.woff2") format("woff2"),
    url("/fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprumitalic.woff2") format("woff2"),
    url("/fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprumbolditalic.woff2") format("woff2"),
    url("/fonts/cuprumbolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* Basic style */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  font-family: "PTSans", sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {}

.icon::before {
  content: "";

  display: inline-block;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.3;
}

.icon-bookmark::before {
  width: 14px;
  height: 16px;
  margin-right: 13px;

  background-image: url(../img/icon-bookmark.svg);
}

.icon-basket::before {
  width: 15px;
  height: 15px;
  margin-right: 17px;

  background-image: url(../img/icon-basket.svg);
}

.icon-phone::before {
  width: 19px;
  height: 19px;
  margin-right: 40px;

  background-image: url(../img/icon-phone.svg);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 38px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 14px;
  line-height: 1.29;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  border-radius: 4px;

}

.button-section {
  width: 253px;
  background-color: #ee3643;
}

.button-section:hover {
  background-color: #ca2c37;
}

.button-section:active,
.button-section:focus {
  background-color: #ba2732;
}


.sticky-new::before {
  content: "new";
  position: absolute;
  top: 5px;
  right: -25px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 28px;

  color: #ffffff;
  text-align: center;

  transform: rotate(45deg);
  background-color: #ff5357;
}

/* Grid */
.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}


/* Header */
.header-wrapper {
  padding-bottom: 60px;

  font-family: "Cuprum", sans-serif;

  background-color: #f4f7f9;
}

.header-menu-wrapper {
  background-color: #293449;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;

  font-size: 17px;
  line-height: 1.06;

  list-style: none;
}

.header-menu li {
  display: inline-flex;
  min-height: 42px;
}

.logo {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 220px;

  background-color: #ee3643;
}

.logo::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -5px;

  width: 100%;
  height: 5px;

  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo[href]:hover {
  background-color: #ca2c37;
}

.logo[href]:active {
  background-color: #ba2732;
}

.header-logo {
  height: 100%;
}

.header-search-form {
  position: relative;
}

.search-field {
  width: 270px;
  height: 100%;
  padding-left: 49px;

  color: #ffffff;

  background-color: #293449;
  border: 0;
}

.search-field::placeholder {
  color: #ffffff;
}

.search-field:hover {
  background-color: #212a3a;
}

.search-field:hover+.icon-search,
.search-field:focus+.icon-search {
  opacity: 1;
}

.search-field:focus {
  color: #000000;

  background-color: #ffffff;
}

.search-field:focus+.icon-search path {
  fill: #ee3643;
}

.header-search-form .icon-search {
  position: absolute;
  left: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 49px;
  height: 42px;

  opacity: 0.3;
}

.header-menu-link,
.checkout {
  display: inline-flex;
  align-items: center;
  width: 150px;

  color: #ffffff;
}

.header-menu-link {
  padding-left: 17px;
}

.header-menu-link:hover {
  background-color: #212a3a;
}

.header-menu-link:hover.icon::before {
  opacity: 1;
}

.header-menu-link .icon::before {
  opacity: 0.3;
}

.header-menu-link:active {
  background-color: #161d29;
  opacity: 0.6;
}

.header-menu-link span {
  padding-left: 5px;
}

.checkout {
  justify-content: center;

  background-color: #63a63e;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  opacity: 0.5;
}

.header-info {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 37px;
  padding-left: 53px;
}


.slogan {
  align-self: flex-end;
  max-width: 196px;

  font-size: 16px;
  font-style: italic;
  line-height: 1.44;
  color: #ee3643;
}

.header-contacts {
  width: 270px;
}

.header-phone {
  display: flex;
  align-items: center;
  padding: 9px 15px;

  font-size: 21px;
  color: #ee3643;

  border: solid 3px #ffffff;
}

.header-address {
  margin-top: 10px;

  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #32425c;
}

.header-info-link-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.header-info-link {
  display: inline-flex;
  align-items: center;
  padding: 14px;
  margin-left: 10px;

  font-size: 21px;
  color: #000000;

  background-color: #ffffff;
}

.header-info-link:hover {
  color: #ee3643;
}

.header-info-link:active {
  color: #c5c5c5;
}

.header-info-link:hover svg {
  fill: #32425c;
}

.header-info-link svg {
  margin-right: 14px;
}

.link-registration {
  width: 150px;
}

.header-navigation .navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;

  list-style: none;
}

.header-navigation .navigation-item {
  flex-grow: 1;
}

.header-navigation .navigation-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  padding: 0 31px;

  font-size: 17px;
  line-height: 1;
  font-family: "Cuprum", sans-serif;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0 0 #293449;
}

.header-navigation .navigation-item-link:hover {
  background-color: #293449;
}

.header-navigation .navigation-item-link:active {
  background-color: #1d2739;
  box-shadow: none;
}

/* Main */
.main-wrapper {
  padding-top: 59px;
}

.tizers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-family: "Cuprum", sans-serif;
}

.tizers-item {
  position: relative;

  max-width: 300px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
  margin-bottom: 20px;
  padding: 20px 23px 22px;

  overflow: hidden;
  background-repeat: no-repeat;
}

.tizer-materials {
  background-color: #ffbf47;
  background-image: url(../img/icon-material.svg);
  background-position: top 31px right 43px;
  background-size: 44px 65px;
}

.tizer-tools {
  background-color: #3bbce3;
  background-image: url(../img/icon-tools.svg);
  background-position: top 33px right 28px;
  background-size: 75px 61px;
}

.tizer-technics {
  background-color: #dc91d8;
  background-image: url(../img/icon-technics.svg);
  background-position: top 31px right 31px;
  background-size: 78px 62px;
}

.tizer-discount {
  background-color: #8ed78f;
  background-image: url(../img/icon-discount.svg);
  background-position: top 26px right 45px;
  background-size: 59px 72px;
}

.tizer-delivery {
  background-color: #ffc047;
  background-image: url(../img/icon-delivery.svg);
  background-position: top 32px right 31px;
  background-size: 78px 63px;
}

.tizer-title {
  margin-top: 0;
  margin-bottom: 15px;

  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: #ffffff;
}

.tizer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 135px;
  min-height: 38px;
  margin-left: 2px;

  font-size: 14px;
  line-height: 1.29;
  color: #ffffff;
  text-transform: uppercase;

  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1)
}

.tizer-link:hover {
  background-color: rgba(0, 0, 0, 0.2)
}

.tizer-link:active {
  background-color: rgba(0, 0, 0, 0.3)
}

.popular-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-right: 24px;
  padding-bottom: 26px;
  padding-left: 30px;

  background-color: #f9f5f0;
}

.popular-title {
  font-size: 30px;
  line-height: 1;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  color: #32425c;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style: none;
}

.products-item {
  position: relative;

  border: solid 1px #eaeaea;
  background-color: #ffffff;

  overflow: hidden;
}

.products-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}


.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  list-style: none;
}

.manufacturers-item-link {
  display: inline-block;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
}

.manufacturers-item-link:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers-item-link:active {
  opacity: 0.3;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}


.services-wrapper {
  background-color: #f4f7f9;
}


/* Footer */
.footer-wrapper {

  font-family: "Cuprum", sans-serif;
  background-color: #32425c;
}

.footer-logo {
  min-height: 68px;
}

.footer-navigation {
  display: flex;
  align-items: flex-end;

  font-size: 18px;
  line-height: 1.33;
}

.footer-navigation .navigation-list {
  display: flex;
  padding: 0;

  list-style: none;
}

.footer-navigation .navigation-item-link {
  color: #f1f5f7;
}

.footer-contacts {
  color: #f3f7f9;
}

.footer-info {
  background-color: #293449;
}



/* Modal */
.modal {
  display: none;
}
